.boardRow:after {
  clear: both;
  content: "";
  display: table;
}
.boardRow {
  margin: 0 auto;
}
.pinkBack {
  margin: 0 auto;
  height: auto;
}
.kuan {
  margin-top: 100px;
}
.status {
  margin-bottom: 10px;
}
.blueBack {
  background: skyblue;
}
.BoardContent {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.BoardContent .content {
  width: 100px;
  margin: 0 auto;
}
