.InterFace {
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  width: 500px;
  text-align: center;
  border: 1px solid black;
}
.InterFace p {
  text-align: left;
}
.InterFace button {
  width: 100px;
  height: 30px;
  font-size: 14px;
}
